<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.try_masterdetail"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:name="com.example.try_masterdetail.StarterApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.example.try_masterdetail.homescreen.HomeScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TrasnparentActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.try_masterdetail.news_activities.WebsiteListActivity"
            android:label="@string/title_app"
            android:parentActivityName="com.example.try_masterdetail.homescreen.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.try_masterdetail.MainActivity" />
        </activity>
        <activity
            android:name="com.example.try_masterdetail.news_activities.WebsiteDetailActivity"
            android:label="@string/title_app"
            android:parentActivityName="com.example.try_masterdetail.news_activities.WebsiteListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.try_masterdetail.news_activities.WebsiteDetailActivity" />
        </activity>
        <activity
            android:name="com.example.try_masterdetail.preference.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme" >
        </activity>
        <activity
            android:name="com.example.try_masterdetail.preference.FeedSelectViewpager"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme" >
        </activity>
        <activity
            android:name="com.example.try_masterdetail.welcomescreen.WelcomeScreenViewPagerActivity"
            android:label="@string/title_activity_welcome_screen_view_pager"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.try_masterdetail.preference.LicensesActivity"
            android:label="@string/title_activity_licenses" >
        </activity>
        <activity
            android:name="com.example.try_masterdetail.AboutMeActivity"
            android:label="@string/title_activity_about_me"
            android:theme="@style/SettingsTheme" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="87c84a40032ae05d94252fa67f6bc87bb5e08308" />
    </application>

</manifest>