[project]
	description = Instant News. On Your Fingertips
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sahil Dave (sahildave)
[access "refs/for/refs/*"]
	read = group user/Sahil Dave (sahildave)
	push = group user/Sahil Dave (sahildave)
	label-Code-Review = -2..+2 group user/Sahil Dave (sahildave)
	label-Verified = -1..+1 group user/Sahil Dave (sahildave)
	rebase = group user/Sahil Dave (sahildave)
	removeReviewer = group user/Sahil Dave (sahildave)
	submit = group user/Sahil Dave (sahildave)
[access "refs/heads/*"]
	read = group user/Sahil Dave (sahildave)
	create = group user/Sahil Dave (sahildave)
	push = +force group user/Sahil Dave (sahildave)
	pushMerge = group user/Sahil Dave (sahildave)
[access "refs/tags/*"]
	push = +force group user/Sahil Dave (sahildave)
	pushTag = group user/Sahil Dave (sahildave)
	pushSignedTag = group user/Sahil Dave (sahildave)
